apiVersion: apps/v1
kind: Deployment
metadata:
  name: oidc-mock-server
  labels:
    name: oidc-mock-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: oidc-mock-server
  template:
    metadata:
      labels:
        name: oidc-mock-server
    spec:
      containers:
      - name: main
        image: docker.io/gridsuite/oidc-mock-server:latest
        ports:
        - containerPort: 3000
        env:
        - name: DEBUG
          value: "oidc-provider:*"
        - name: ISSUER_HOST
          value: "<INGRESS_HOST>"
        - name: ISSUER_PREFIX
          value: "/oidc-mock-server"
        - name: CLIENT_COUNT
          value: "6"

        - name: CLIENT_ID_2
          value: "gridexplore-client"
        - name: CLIENT_REDIRECT_URI_2
          value: "http://<INGRESS_HOST>/gridexplore/sign-in-callback"
        - name: CLIENT_LOGOUT_REDIRECT_URI_2
          value: "http://<INGRESS_HOST>/gridexplore/logout-callback"
        - name: CLIENT_SILENT_REDIRECT_URI_2
          value: "http://<INGRESS_HOST>/gridexplore/silent-renew-callback"

        - name: CLIENT_ID_3
          value: "gridmerge-client"
        - name: CLIENT_REDIRECT_URI_3
          value: "http://<INGRESS_HOST>/gridmerge/sign-in-callback"
        - name: CLIENT_LOGOUT_REDIRECT_URI_3
          value: "http://<INGRESS_HOST>/gridmerge/logout-callback"
        - name: CLIENT_SILENT_REDIRECT_URI_3
          value: "http://<INGRESS_HOST>/gridmerge/silent-renew-callback"

        - name: CLIENT_ID_4
          value: "gridadmin-client"
        - name: CLIENT_REDIRECT_URI_4
          value: "http://<INGRESS_HOST>/gridadmin/sign-in-callback"
        - name: CLIENT_LOGOUT_REDIRECT_URI_4
          value: "http://<INGRESS_HOST>/gridadmin/logout-callback"
        - name: CLIENT_SILENT_REDIRECT_URI_4
          value: "http://<INGRESS_HOST>/gridadmin/silent-renew-callback"

        - name: CLIENT_ID_5
          value: "griddyna-client"
        - name: CLIENT_REDIRECT_URI_5
          value: "http://<INGRESS_HOST>/griddyna/sign-in-callback"
        - name: CLIENT_LOGOUT_REDIRECT_URI_5
          value: "http://<INGRESS_HOST>/griddyna/logout-callback"
        - name: CLIENT_SILENT_REDIRECT_URI_5
          value: "http://<INGRESS_HOST>/griddyna/silent-renew-callback"

        - name: CLIENT_ID_6
          value: "gridstudy-client"
        - name: CLIENT_REDIRECT_URI_6
          value: "http://<INGRESS_HOST>/gridstudy/sign-in-callback"
        - name: CLIENT_LOGOUT_REDIRECT_URI_6
          value: "http://<INGRESS_HOST>/gridstudy/logout-callback"
        - name: CLIENT_SILENT_REDIRECT_URI_6
          value: "http://<INGRESS_HOST>/gridstudy/silent-renew-callback"
