apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
  annotations:
    gridsuite.org/memory: memory-m
spec:
  template:
    spec:
      containers:
        - name: main
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-Xmx768m"
          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "1Gi"
