apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
spec:
  template:
    spec:
      containers:
        - name: main
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-Xmx128m"
