apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
spec:
  template:
    spec:
      containers:
        - name: main
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-Xmx1214m"
          resources:
            requests:
              memory: "2176Mi"
            limits:
              memory: "2176Mi"
