version: '3'

services:

  study-server:
    image: gridsuite/study-server:latest
    ports:
      - 5001:80
    volumes:
      - $PWD/../../k8s/base/config/study-server-application.yml:/config/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  geo-data-server:
    image: gridsuite/geo-data-server:latest
    ports:
      - 8087:80
    volumes:
      - $PWD/../../k8s/base/config/geo-data-server-application.yml:/config/application.yml:Z
      - $PWD/../cassandra.properties:/config/cassandra.properties:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  single-line-diagram-server:
    image: powsybl/single-line-diagram-server:latest
    ports:
      - 5005:80
    volumes:
      - $PWD/../../k8s/base/config/single-line-diagram-server-application.yml:/config/application.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  network-modification-server:
    image: gridsuite/network-modification-server:latest
    ports:
      - 5007:80
    volumes:
      - $PWD/../../k8s/base/config/network-modification-server-application.yml:/config/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  notification-server:
    image: gridsuite/notification-server:latest
    ports:
      - 5009:80
    volumes:
      - $PWD/../../k8s/base/config/notification-server-application.yml:/config/application.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  network-map-server:
    image: gridsuite/network-map-server:latest
    ports:
      - 5006:80
    volumes:
      - $PWD/../../k8s/base/config/network-map-server-application.yml:/config/application.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  cgmes-gl-server:
    image: powsybl/cgmes-gl-server:latest
    ports:
      - 8095:80
    volumes:
      - $PWD/../../k8s/base/config/cgmes-gl-server-application.yml:/config/application.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  odre-server:
    image: gridsuite/odre-server:latest
    ports:
      - 8090:80
    volumes:
      - $PWD/../../k8s/base/config/odre-server-application.yml:/config/application.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  gridstudy-app:
    image: gridsuite/gridstudy-app:latest
    ports:
      - 80:80
    volumes:
      - $PWD/../gridstudy-app-idpSettings.json:/usr/local/apache2/htdocs/gridstudy/idpSettings.json:Z
      - $PWD/../env.json:/usr/local/apache2/htdocs/gridstudy/env.json:Z
    depends_on:
      - logspout
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  security-analysis-server:
    image: gridsuite/security-analysis-server:latest
    ports:
      - 5023:80
    volumes:
      - $PWD/../../k8s/base/config/security-analysis-server-application.yml:/config/application.yml:Z
      - $PWD/../../k8s/base/config/security-analysis-server-config.yml:/home/powsybl/.itools/config.yml:Z
      - $PWD/../cassandra.properties:/config/cassandra.properties:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  dynamic-simulation-server:
    image: gridsuite/dynamic-simulation-server:latest
    ports:
      - 5032:80
    volumes:
      - $PWD/../../k8s/base/config/dynamic-simulation-server-application.yml:/config/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
      - $PWD/../../k8s/base/config/dynawo-itools-config.yml:/home/powsybl/.itools/config.yml:Z
      - $PWD/../../k8s/base/config/dynamic-simulation/:/dynawo-config/:Z
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
