version: '4.0'

services:
  study-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/study-server:latest
    ports:
      - 5001:80
    volumes:
      - $PWD/../../k8s/resources/study/config/study-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  geo-data-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/geo-data-server:latest
    ports:
      - 8087:80
    volumes:
      - $PWD/../../k8s/resources/study/config/geo-data-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  single-line-diagram-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: powsybl/single-line-diagram-server:latest
    ports:
      - 5005:80
    volumes:
      - $PWD/../../k8s/resources/study/config/single-line-diagram-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx384m #deployment: 576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 768m #deployment: 1024m
    deploy:
      resources:
        limits:
          memory: 768m #deployment: 1024m

  network-modification-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/network-modification-server:latest
    ports:
      - 5007:80
    volumes:
      - $PWD/../../k8s/resources/study/config/network-modification-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  study-notification-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/study-notification-server:latest
    ports:
      - 5009:80
    volumes:
      - $PWD/../../k8s/resources/study/config/study-notification-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  directory-notification-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/directory-notification-server:latest
    ports:
      - 5004:80
    volumes:
      - $PWD/../../k8s/resources/study/config/directory-notification-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  network-map-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/network-map-server:latest
    ports:
      - 5006:80
    volumes:
      - $PWD/../../k8s/resources/study/config/network-map-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m #deployment: 768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g #deployment: 1280m
    deploy:
      resources:
        limits:
          memory: 1g #deployment: 1280m

  cgmes-gl-server:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/cgmes-gl-server:latest
    ports:
      - 8095:80
    volumes:
      - $PWD/../../k8s/resources/study/config/cgmes-gl-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  odre-server:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/odre-server:latest
    ports:
      - 8090:80
    volumes:
      - $PWD/../../k8s/resources/study/config/odre-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  gridstudy-app:
    profiles:
      - all
      - suite
      - study
      - dynamic-simulation
    image: gridsuite/gridstudy-app:latest
    ports:
      - 84:8080
    volumes:
      - $PWD/../study/gridstudy-app-idpSettings.json:/opt/bitnami/apache/htdocs/gridstudy/idpSettings.json:Z
      - $PWD/../env.json:/opt/bitnami/apache/htdocs/gridstudy/env.json:Z
    depends_on:
      - logspout
    memswap_limit: 128m
    deploy:
      resources:
        limits:
          memory: 128m

  security-analysis-server:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/security-analysis-server:latest
    ports:
      - 5023:80
    volumes:
      - $PWD/../../k8s/resources/study/config/security-analysis-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/study/config/security-analysis-server-config.yml:/home/powsybl/.itools/config.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m #deployment: 1408m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m #deployment: 3072m
    deploy:
      resources:
        limits:
          memory: 1792m #deployment: 3072m

  dynamic-simulation-server:
    profiles:
      - all
      - suite
      - study
      - dynamic-simulation
    image: gridsuite/dynamic-simulation-server:latest
    ports:
      - 5032:80
    volumes:
      - $PWD/../../k8s/resources/study/config/dynamic-simulation-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/study/config/dynawo-itools-config.yml:/home/powsybl/.itools/config.yml:Z
      - $PWD/../../k8s/resources/study/config/dynamic-simulation/:/dynawo-config/:Z
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m
    deploy:
      resources:
        limits:
          memory: 1792m

  directory-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/directory-server:latest
    ports:
      - 5026:80
    volumes:
      - $PWD/../../k8s/resources/study/config/directory-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx186m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 512m
    deploy:
      resources:
        limits:
          memory: 512m

  gridexplore-app:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/gridexplore-app:latest
    ports:
      - 80:8080
    volumes:
      - $PWD/../study/gridexplore-app-idpSettings.json:/opt/bitnami/apache/htdocs/gridexplore/idpSettings.json:Z
      - $PWD/../env.json:/opt/bitnami/apache/htdocs/gridexplore/env.json:Z
    depends_on:
      - logspout
    memswap_limit: 128m
    deploy:
      resources:
        limits:
          memory: 128m

  explore-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-simulation
    image: gridsuite/explore-server:latest
    ports:
      - 5029:80
    volumes:
      - $PWD/../../k8s/resources/study/config/explore-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx384m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 768m
    deploy:
      resources:
        limits:
          memory: 768m

  sensitivity-analysis-server:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/sensitivity-analysis-server:latest
    ports:
      - 5030:80
    volumes:
      - $PWD/../../k8s/resources/study/config/sensitivity-analysis-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/study/config/sensitivity-analysis-server-config.yml:/home/powsybl/.itools/config.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m #deployment: 1408m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m #deployment: 3072m
    deploy:
      resources:
        limits:
          memory: 1792m #deployment: 3072m

  shortcircuit-server:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/shortcircuit-server:latest
    ports:
      - 5031:80
    volumes:
      - $PWD/../../k8s/resources/study/config/shortcircuit-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/study/config/shortcircuit-server-config.yml:/home/powsybl/.itools/config.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m
    deploy:
      resources:
        limits:
          memory: 1792m

  timeseries-server:
    profiles:
      - all
      - suite
      - study
      - dynamic-simulation
    image: gridsuite/timeseries-server:latest
    ports:
      - 5037:80
    volumes:
      - $PWD/../../k8s/resources/study/config/timeseries-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  voltage-init-server:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/voltage-init-server:latest
    ports:
      - 5038:80
    volumes:
      - $PWD/../../k8s/resources/study/config/voltage-init-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/study/config/voltage-init-server-config.yml:/home/powsybl/.itools/config.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m #deployment: -Xmx1086m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m #deployment: 2432m
    deploy:
      resources:
        limits:
          memory: 1792m #deployment: 2432m

  #just here for dev purpose, we don't want to start with this profile unless we need to.
  case-import-server:
    profiles:
      - all
      - import
    image: gridsuite/case-import-server:latest
    ports:
      - 5039:80
    volumes:
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  gridadmin-app:
    profiles:
      - all
      - suite
      - study
    image: gridsuite/gridadmin-app:latest
    ports:
      - 82:8080
    volumes:
      - $PWD/../study/gridadmin-app-idpSettings.json:/opt/bitnami/apache/htdocs/gridadmin/idpSettings.json:Z
      - $PWD/../env.json:/opt/bitnami/apache/htdocs/gridadmin/env.json:Z
    depends_on:
      - logspout
    memswap_limit: 128m
    deploy:
      resources:
        limits:
          memory: 128m
