apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
 - ../../base

resources:
  - oidc-mock-server-deployment.yaml
  - oidc-mock-server-ingress.yaml
  - oidc-mock-server-service.yaml

configMapGenerator:
  - name: network-store-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: geo-data-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: study-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: study-app-configmap
    files:
      - idpSettings.json
