apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

labels:
  - includeSelectors: true
    pairs:
      app: gridsuite

patches:
- path: patches/deployments.yaml
  target:
    kind: Deployment
- path: patches/deployments-springboot.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
- path: patches/deployments-springboot-dbconfig.yaml
  target:
    kind: Deployment
    labelSelector: gridsuite.org/springboot-with-database=true
- path: patches/deployments-apache.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-apache
- path: patches/deployments-apache-gridapp.yaml
  target:
    kind: Deployment
    labelSelector: gridsuite.org/apache-gridapp=true
- path: patches/services-springboot.yaml
  target:
    kind: Service
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
- path: patches/services-apache.yaml
  target:
    kind: Service
    labelSelector: app.kubernetes.io/component=gridsuite-apache
- path: patches/cronjobs.yaml
  target:
    kind: CronJob
- path: patches/ingresses.yaml
  target:
    kind: Ingress
- path: patches/cronjobs-dbconfig.yaml
  target:
    kind: CronJob
    labelSelector: gridsuite.org/cronjob-with-database=true
- path: patches/cpu/deployments-springboot-cpu-xxs.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-xxs
- path: patches/cpu/deployments-springboot-cpu-xs.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-xs
- path: patches/cpu/deployments-springboot-cpu-s.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-s
- path: patches/cpu/deployments-springboot-cpu-m.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-m
- path: patches/cpu/deployments-springboot-cpu-l.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-l
- path: patches/cpu/deployments-springboot-cpu-xl.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-xl
- path: patches/cpu/deployments-springboot-cpu-xxl.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/cpu=cpu-xxl
- path: patches/memory/deployments-springboot-memory-springnative-xs.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-springnative-xs
- path: patches/memory/deployments-springboot-memory-xxs.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xxs
- path: patches/memory/deployments-springboot-memory-xs.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xs
- path: patches/memory/deployments-springboot-memory-s.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-s
- path: patches/memory/deployments-springboot-memory-m.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-m
- path: patches/memory/deployments-springboot-memory-l.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-l
- path: patches/memory/deployments-springboot-memory-xl.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xl
- path: patches/memory/deployments-springboot-memory-xxl.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xxl
- path: patches/memory/deployments-springboot-memory-xxxl.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xxxl
- path: patches/memory/deployments-springboot-memory-l-forking.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-l-forking
- path: patches/memory/deployments-springboot-memory-xl-forking.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xl-forking
- path: patches/memory/deployments-springboot-memory-xxl-forking.yaml
  target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xxl-forking
- path: patches/deployments-springboot-elasticsearch-config.yaml
  target:
    kind: Deployment
    labelSelector: gridsuite.org/springboot-with-elasticsearch=true
- path: patches/deployments-springboot-rabbitmq-config.yaml
  target:
    kind: Deployment
    labelSelector: gridsuite.org/springboot-with-rabbitmq=true
- path: patches/deployments-springboot-s3-config.yaml
  target:
    kind: Deployment
    labelSelector: gridsuite.org/springboot-with-s3=true
- path: patches/deployments-springboot-large-storage-config.yaml
  target:
    kind: Deployment
    labelSelector: gridsuite.org/springboot-with-large-storage=true