version: '4.0'

services:
  monitor-server:
    profiles:
      - all
      - monitor
    image: gridsuite/monitor-server:latest
    ports:
      - 5043:80
    volumes:
      - $PWD/../../k8s/resources/monitor/config/monitor-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  monitor-sa-worker-server:
    profiles:
      - all
      - monitor
    image: gridsuite/monitor-worker-server:latest
    volumes:
      - $PWD/../../k8s/resources/monitor/config/monitor-sa-worker-server-application.yml:/config/specific/application.yml:Z
      - ${PATH_TO_STUDY_COMPOSE:-$PWD}/../../k8s/resources/monitor/config/monitor-sa-worker-server-config.yml:/home/powsybl/.itools/config.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx1086m #deployment: 3072m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m #deployment: 5632m
    deploy:
      resources:
        limits:
          memory: 1792m #deployment: 5632m
