apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
  annotations:
    gridsuite.org/cpu: cpu-xxs
spec:
  template:
    spec:
      containers:
        - name: main
          resources:
            requests:
              cpu: "100m"
            limits:
              cpu: "2000m"