apiVersion: apps/v1
kind: Deployment
metadata:
  name: case-server
  labels:
    name: case-server
    version: "1"
    app.kubernetes.io/component: gridsuite-springboot
    gridsuite.org/springboot-with-database: "true"
    gridsuite.org/springboot-with-elasticsearch: "true"
    gridsuite.org/springboot-with-rabbitmq: "true"
  annotations:
    gridsuite.org/size: springboot-l
spec:
  selector:
    matchLabels:
      name: case-server
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: case-server
    spec:
      containers:
      - name: main
        image: docker.io/powsybl/case-server:latest
        volumeMounts:
        - mountPath: /config/specific
          name: case-server-configmap-specific-volume
        - mountPath: /cases
          name: case-server-storage
        env:
          - name: S3_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: s3-secrets
                key: S3_ACCESS_KEY
                optional: true
          - name: S3_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: s3-secrets
                key: S3_SECRET_KEY
                optional: true
      securityContext:
        fsGroup: 1000
      volumes:
        - name: case-server-configmap-specific-volume
          configMap:
            name: case-server-configmap-specific
        - name: case-server-storage
          persistentVolumeClaim:
            claimName: case-server-claim
