version: '3'

services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - 15672:15672
      - 5672:5672
    depends_on:
      - logspout

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.8.6
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - LOGSPOUT=ignore

  kibana:
    image: docker.elastic.co/kibana/kibana:6.8.6
    ports:
      - 5601:5601
    environment:
      - LOGSPOUT=ignore
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:6.8.6
    volumes:
      - $PWD/../pipelines.yml:/config/pipelines.yml:Z
      - $PWD/../logstash.conf:/usr/share/logstash/pipeline/logstash.conf:Z
    environment:
      - LOGSPOUT=ignore
    depends_on:
      - elasticsearch

  socat:
    image: alpine/socat
    command: 'TCP-LISTEN:5000,reuseaddr,fork TCP:logstash:5000,forever,interval=5'

  logspout:
    image: gliderlabs/logspout:v3.2.13
    command: 'tcp://socat:5000?filter.name=grid*'
    environment:
      - LOGSPOUT=ignore
      - BACKLOG=false
      - "RAW_FORMAT={ \"container\": {{ toJSON .Container.Name }}, \"message\": {{ toJSON .Data }}, \"@timestamp\": {{ toJSON .Time }} }\n"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    depends_on:
      - socat

  case-server:
    image: powsybl/case-server:latest

    ports:
      - 5000:80
    volumes:
      - $PWD/../../k8s/base/config/case-server-application.yml:/config/application.yml:Z
      - $HOME/cases:/cases:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m

  actions-server:
    image: gridsuite/actions-server:latest
    ports:
      - 5022:80
    volumes:
      - $PWD/../../k8s/base/config/actions-server-application.yml:/config/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m

  filter-server:
    image: gridsuite/filter-server:latest
    ports:
      - 5027:80
    volumes:
      - $PWD/../../k8s/base/config/filter-server-application.yml:/config/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    depends_on:
      - logspout

  network-store-server:
    image: powsybl/network-store-server:latest
    ports:
      - 8080:80
    volumes:
      - $PWD/../../k8s/base/config/network-store-server-application.yml:/config/application.yml:Z
      - $PWD/../cassandra.properties:/config/cassandra.properties:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m

  network-conversion-server:
    image: powsybl/network-conversion-server:latest
    ports:
      - 5003:80
    volumes:
      - $PWD/../../k8s/base/config/network-conversion-server-application.yml:/config/application.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m

  loadflow-server:
    image: gridsuite/loadflow-server:latest
    ports:
      - 5008:80
    volumes:
      - $PWD/../../k8s/base/config/loadflow-server-application.yml:/config/application.yml:Z
      - $PWD/../../k8s/base/config/loadflow-server-config.yml:/root/.itools/config.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m

  config-server:
    image: gridsuite/config-server:latest
    ports:
      - 5025:80
    volumes:
      - $PWD/../../k8s/base/config/config-server-application.yml:/config/application.yml:Z
      - $PWD/../cassandra.properties:/config/cassandra.properties:Z
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
      
  config-notification-server:
    image: gridsuite/config-notification-server:latest
    ports:
      - 5024:80
    volumes:
      - $PWD/../../k8s/base/config/config-notification-server-application.yml:/config/application.yml:Z
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m

  gateway:
    image: gridsuite/gateway:latest
    ports:
      - 9000:80
    volumes:
      - $PWD/../../k8s/base/config/gateway-application.yml:/config/application.yml:Z
      - $PWD/../allowed-issuers.yml:/config/allowed-issuers.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m

  mock_user_service:
    image: gridsuite/oidc-mock-server
    ports:
      - 9090:9090
    environment:
      - PORT=9090
      - CLIENT_COUNT=5
      - CLIENT_ID=gridstudy-client
      - CLIENT_REDIRECT_URI=http://localhost:80/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI=http://localhost:80/logout-callback
      - CLIENT_SILENT_REDIRECT_URI=http://localhost:80/silent-renew-callback
      - CLIENT_ID_2=my-client-2
      - CLIENT_REDIRECT_URI_2=http://localhost:3000/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_2=http://localhost:3000/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_2=http://localhost:3000/silent-renew-callback
      - CLIENT_ID_3=gridmerge-client
      - CLIENT_REDIRECT_URI_3=http://localhost:81/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_3=http://localhost:81/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_3=http://localhost:81/silent-renew-callback
      - CLIENT_ID_4=gridactions-client
      - CLIENT_REDIRECT_URI_4=http://localhost:82/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_4=http://localhost:82/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_4=http://localhost:82/silent-renew-callback
      - CLIENT_ID_5=griddyna-client
      - CLIENT_REDIRECT_URI_5=http://localhost:83/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_5=http://localhost:83/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_5=http://localhost:83/silent-renew-callback
      - ISSUER_HOST=172.17.0.1:9090
    depends_on:
      - logspout

  apps-metadata-server:
    image: httpd:2.4
    ports:
      - 8070:80
    volumes:
      - $PWD/../apps-metadata.json:/usr/local/apache2/htdocs/apps-metadata.json:Z
      - $PWD/../gridapps-metadata-httpd.conf:/usr/local/apache2/conf/httpd.conf:Z
    depends_on:
      - logspout


