version: '3.8'
services:
  case-server:
    image: powsybl/case-server:latest
    ports:
      - 5000:80
    volumes:
      - ./../k8s/resources/common/config/case-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
      - ${GRIDSUITE_DATABASES:-/tmp/gridsuite}/cases:/cases
    depends_on:
      - logspout
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  actions-server:
    image: gridsuite/actions-server:latest
    ports:
      - 5022:80
    volumes:
      - ./../k8s/resources/common/config/actions-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  filter-server:
    image: gridsuite/filter-server:latest
    ports:
      - 5027:80
    volumes:
      - ./../k8s/resources/common/config/filter-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m

  user-admin-server:
    image: gridsuite/user-admin-server:latest
    ports:
      - 5033:80
    volumes:
      - ./../k8s/resources/common/config/user-admin-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m

  report-server:
    image: gridsuite/report-server:latest
    ports:
      - 5028:80
    volumes:
      - ./../k8s/resources/common/config/report-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx512m

  network-store-server:
    image: powsybl/network-store-server:latest
    ports:
      - 8080:80
    volumes:
      - ./../k8s/resources/common/config/network-store-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx1792m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  network-conversion-server:
    image: powsybl/network-conversion-server:latest
    ports:
      - 5003:80
    volumes:
      - ./../k8s/resources/common/config/network-conversion-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx1792m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  loadflow-server:
    image: gridsuite/loadflow-server:latest
    ports:
      - 5008:80
    volumes:
      - ./../k8s/resources/common/config/loadflow-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
      - ./../k8s/resources/common/config/loadflow-server-config.yml:/home/powsybl/.itools/config.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  config-server:
    image: gridsuite/config-server:latest
    ports:
      - 5025:80
    volumes:
      - ./../k8s/resources/common/config/config-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  config-notification-server:
    image: gridsuite/config-notification-server:latest
    ports:
      - 5024:80
    volumes:
      - ./../k8s/resources/common/config/config-notification-server-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  gateway:
    image: gridsuite/gateway:latest
    ports:
      - 9000:80
    volumes:
      - ./../k8s/resources/common/config/gateway-application.yml:/config/specific/application.yml:ro
      - ./../k8s/resources/common/config/common-application.yml:/config/common/application.yml:ro
      - ./allowed-issuers.yml:/config/allowed-issuers.yml:ro
    restart: unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  mock_user_service:
    image: gridsuite/oidc-mock-server
    ports:
      - 9090:9090
    environment:
      - PORT=9090
      - CLIENT_COUNT=5
      - CLIENT_ID=gridexplore-client
      - CLIENT_REDIRECT_URI=http://localhost:80/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI=http://localhost:80/logout-callback
      - CLIENT_SILENT_REDIRECT_URI=http://localhost:80/silent-renew-callback
      - CLIENT_ID_2=my-client-2
      - CLIENT_REDIRECT_URI_2=http://localhost:3000/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_2=http://localhost:3000/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_2=http://localhost:3000/silent-renew-callback
      - CLIENT_ID_3=gridmerge-client
      - CLIENT_REDIRECT_URI_3=http://localhost:81/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_3=http://localhost:81/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_3=http://localhost:81/silent-renew-callback
      - CLIENT_ID_4=griddyna-client
      - CLIENT_REDIRECT_URI_4=http://localhost:83/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_4=http://localhost:83/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_4=http://localhost:83/silent-renew-callback
      - CLIENT_ID_5=gridstudy-client
      - CLIENT_REDIRECT_URI_5=http://localhost:84/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_5=http://localhost:84/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_5=http://localhost:84/silent-renew-callback
      - ISSUER_HOST=172.17.0.1:9090
    depends_on:
      - logspout

  apps-metadata-server:
    image: bitnami/apache:2.4.55-debian-11-r3@sha256:bbe50190eb3bbf3be6f61318004480b3230846bfd52dec9286bd1862254c1719
    ports:
      - 8070:8080
    volumes:
      - ./apps-metadata.json:/opt/bitnami/apache/htdocs/apps-metadata.json:ro
      - ./gridapps-metadata-httpd.conf:/opt/bitnami/apache/conf/bitnami/bitnami.conf:ro
    depends_on:
      - logspout
