version: '3'

services:

  case-server:
    image: powsybl/case-server:latest
    ports:
      - 5000:80
    volumes:
      - $PWD/../../k8s/base/config/case-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $GRIDSUITE_DATABASES/cases:/cases:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  actions-server:
    image: gridsuite/actions-server:latest
    ports:
      - 5022:80
    volumes:
      - $PWD/../../k8s/base/config/actions-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    restart:
      unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  filter-server:
    image: gridsuite/filter-server:latest
    ports:
      - 5027:80
    volumes:
      - $PWD/../../k8s/base/config/filter-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    restart:
      unless-stopped
    depends_on:
      - logspout
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  report-server:
    image: gridsuite/report-server:latest
    ports:
      - 5028:80
    volumes:
      - $PWD/../../k8s/base/config/report-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    restart:
      unless-stopped
    depends_on:
      - logspout
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m

  network-store-server:
    image: powsybl/network-store-server:latest
    ports:
      - 8080:80
    volumes:
      - $PWD/../../k8s/base/config/network-store-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    restart:
      unless-stopped
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  network-conversion-server:
    image: powsybl/network-conversion-server:latest
    ports:
      - 5003:80
    volumes:
      - $PWD/../../k8s/base/config/network-conversion-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/base/config/network-conversion-server-config.yml:/home/powsybl/.itools/config.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  loadflow-server:
    image: gridsuite/loadflow-server:latest
    ports:
      - 5008:80
    volumes:
      - $PWD/../../k8s/base/config/loadflow-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/base/config/loadflow-server-config.yml:/home/powsybl/.itools/config.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  config-server:
    image: gridsuite/config-server:latest
    ports:
      - 5025:80
    volumes:
      - $PWD/../../k8s/base/config/config-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../database.properties:/config/database.properties:Z
    restart:
      unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  config-notification-server:
    image: gridsuite/config-notification-server:latest
    ports:
      - 5024:80
    volumes:
      - $PWD/../../k8s/base/config/config-notification-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  gateway:
    image: gridsuite/gateway:latest
    ports:
      - 9000:80
    volumes:
      - $PWD/../../k8s/base/config/gateway-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/base/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../allowed-issuers.yml:/config/allowed-issuers.yml:Z
    depends_on:
      - logspout
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx128m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
        - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0

  mock_user_service:
    image: gridsuite/oidc-mock-server
    ports:
      - 9090:9090
    environment:
      - PORT=9090
      - CLIENT_COUNT=5
      - CLIENT_ID=gridexplore-client
      - CLIENT_REDIRECT_URI=http://localhost:80/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI=http://localhost:80/logout-callback
      - CLIENT_SILENT_REDIRECT_URI=http://localhost:80/silent-renew-callback
      - CLIENT_ID_2=my-client-2
      - CLIENT_REDIRECT_URI_2=http://localhost:3000/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_2=http://localhost:3000/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_2=http://localhost:3000/silent-renew-callback
      - CLIENT_ID_3=gridmerge-client
      - CLIENT_REDIRECT_URI_3=http://localhost:81/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_3=http://localhost:81/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_3=http://localhost:81/silent-renew-callback
      - CLIENT_ID_4=griddyna-client
      - CLIENT_REDIRECT_URI_4=http://localhost:83/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_4=http://localhost:83/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_4=http://localhost:83/silent-renew-callback
      - CLIENT_ID_5=gridstudy-client
      - CLIENT_REDIRECT_URI_5=http://localhost:84/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_5=http://localhost:84/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_5=http://localhost:84/silent-renew-callback
      - ISSUER_HOST=172.17.0.1:9090
    depends_on:
      - logspout

  apps-metadata-server:
    image: bitnami/apache:2.4
    ports:
      - 8070:8080
    volumes:
      - $PWD/../apps-metadata.json:/opt/bitnami/apache/htdocs/apps-metadata.json:Z
      - $PWD/../gridapps-metadata-httpd.conf:/opt/bitnami/apache/conf/bitnami/bitnami.conf:Z
    depends_on:
      - logspout


