version: '4.0'
services:
  case-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
      - monitor
    image: powsybl/case-server:latest
    ports:
      - 5000:80
    volumes:
      - $PWD/../../k8s/resources/common/config/case-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx186m #deployment: 768m
    command: >
      --server.port=80 
      --spring.config.additional-location=/config/ 
      --case-home=/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 512m
    deploy:
      resources:
        limits:
          memory: 512m

  actions-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
      - monitor
    image: gridsuite/actions-server:latest
    ports:
      - 5022:80
    volumes:
      - $PWD/../../k8s/resources/common/config/actions-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  filter-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
      - monitor
    image: gridsuite/filter-server:latest
    ports:
      - 5027:80
    volumes:
      - $PWD/../../k8s/resources/common/config/filter-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx576m
    memswap_limit: 1g
    deploy:
      resources:
        limits:
          memory: 1g

  user-admin-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/user-admin-server:latest
    ports:
      - 5033:80
    volumes:
      - $PWD/../../k8s/resources/common/config/user-admin-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  study-config-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/study-config-server:latest
    ports:
      - 5035:80
    volumes:
      - $PWD/../../k8s/resources/common/config/study-config-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  user-identity-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/user-identity-oidc-replication-server:latest
    ports:
      - 5034:80
    volumes:
      - $PWD/../../k8s/resources/common/config/user-identity-oidc-replication-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  report-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
      - monitor
    image: gridsuite/report-server:latest
    ports:
      - 5028:80
    volumes:
      - $PWD/../../k8s/resources/common/config/report-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx384m
    memswap_limit: 768m
    deploy:
      resources:
        limits:
          memory: 768m

  network-store-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: powsybl/network-store-server:latest
    ports:
      - 8080:80
    volumes:
      - $PWD/../../k8s/resources/common/config/network-store-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx1086m #deployment: 1408m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1664m #deployment: 2048m
    deploy:
      resources:
        limits:
          memory: 1664m #deployment: 2048m

  network-conversion-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: powsybl/network-conversion-server:latest
    ports:
      - 5003:80
    volumes:
      - $PWD/../../k8s/resources/common/config/network-conversion-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/common/config/network-conversion-server-config.yml:/home/powsybl/.itools/config.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m #deployment: 1408m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1280m  #deployment: 2048m
    deploy:
      resources:
        limits:
          memory: 1280m  #deployment: 2048m

  loadflow-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/loadflow-server:latest
    ports:
      - 5008:80
    volumes:
      - $PWD/../../k8s/resources/common/config/loadflow-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../../k8s/resources/common/config/loadflow-server-config.yml:/home/powsybl/.itools/config.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx768m #deployment: 1408m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 1792m #deployment: 3072m
    deploy:
      resources:
        limits:
          memory: 1792m #deployment: 3072m

  config-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/config-server:latest
    ports:
      - 5025:80
    volumes:
      - $PWD/../../k8s/resources/common/config/config-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  config-notification-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/config-notification-server:latest
    ports:
      - 5024:80
    volumes:
      - $PWD/../../k8s/resources/common/config/config-notification-server-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
    restart: unless-stopped
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  gateway:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/gateway:latest
    ports:
      - 9000:80
    volumes:
      - $PWD/../../k8s/resources/common/config/gateway-application.yml:/config/specific/application.yml:Z
      - $PWD/../../k8s/resources/common/config/common-application.yml:/config/common/application.yml:Z
      - $PWD/../allowed-issuers.yml:/config/allowed-issuers.yml:Z
    restart: unless-stopped
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx96m
    command: --server.port=80 --spring.config.additional-location=/config/
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0 # for docker < 20.03.0
    memswap_limit: 384m
    deploy:
      resources:
        limits:
          memory: 384m

  oidc-mock-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: gridsuite/oidc-mock-server
    ports:
      - 9090:9090
    environment:
      - PORT=9090
      - ISSUER_HOST=172.17.0.1:9090
      - USERS_PROFILE=UTILISATEURS|ADMIN|ADMIN_EXPLORE
      - CLIENT_COUNT=8

      # Client IDs for containers (grid*-app-idpSettings.json)
      - CLIENT_ID=gridexplore-client
      - CLIENT_REDIRECT_URI=http://localhost:80/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI=http://localhost:80/logout-callback
      - CLIENT_SILENT_REDIRECT_URI=http://localhost:80/silent-renew-callback

      - CLIENT_ID_2=gridadmin-client
      - CLIENT_REDIRECT_URI_2=http://localhost:82/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_2=http://localhost:82/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_2=http://localhost:82/silent-renew-callback

      - CLIENT_ID_3=griddyna-client
      - CLIENT_REDIRECT_URI_3=http://localhost:83/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_3=http://localhost:83/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_3=http://localhost:83/silent-renew-callback

      - CLIENT_ID_4=gridstudy-client
      - CLIENT_REDIRECT_URI_4=http://localhost:84/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_4=http://localhost:84/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_4=http://localhost:84/silent-renew-callback

      # Client IDs for local dev (grid*-app/public/idpSettings.json)
      - CLIENT_ID_5=gridexplore-local
      - CLIENT_REDIRECT_URI_5=http://localhost:3000/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_5=http://localhost:3000/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_5=http://localhost:3000/silent-renew-callback

      - CLIENT_ID_6=gridadmin-local
      - CLIENT_REDIRECT_URI_6=http://localhost:3002/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_6=http://localhost:3002/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_6=http://localhost:3002/silent-renew-callback

      - CLIENT_ID_7=griddyna-local
      - CLIENT_REDIRECT_URI_7=http://localhost:3003/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_7=http://localhost:3003/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_7=http://localhost:3003/silent-renew-callback

      - CLIENT_ID_8=gridstudy-local
      - CLIENT_REDIRECT_URI_8=http://localhost:3004/sign-in-callback
      - CLIENT_LOGOUT_REDIRECT_URI_8=http://localhost:3004/logout-callback
      - CLIENT_SILENT_REDIRECT_URI_8=http://localhost:3004/silent-renew-callback
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    restart: unless-stopped

  apps-metadata-server:
    profiles:
      - all
      - suite
      - study
      - study-light
      - dynamic-mapping
      - dynamic-simulation
      - import
    image: bitnami/apache:2.4.55-debian-11-r3@sha256:bbe50190eb3bbf3be6f61318004480b3230846bfd52dec9286bd1862254c1719
    ports:
      - 8070:8080
    volumes:
      - $PWD/../apps-metadata.json:/opt/bitnami/apache/htdocs/apps-metadata.json:Z
      - $PWD/../../k8s/resources/common/config/apps-metadata-base-voltages.json:/opt/bitnami/apache/htdocs/apps-metadata-base-voltages.json:Z
      - $PWD/../version.json:/opt/bitnami/apache/htdocs/version.json:Z
      - $PWD/../gridapps-metadata-httpd.conf:/opt/bitnami/apache/conf/bitnami/bitnami.conf:Z
    depends_on:
      logspout:
        condition: "service_started"
        required: false
    memswap_limit: 128m
    deploy:
      resources:
        limits:
          memory: 128m
    restart: unless-stopped
