apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../overlays/azure

components:
  - ../../components/gridsuite-smaller-network
  - ../../components/gridsuite
  - ../../components/azure

configMapGenerator:
  - name: gridapps-env-configmap
    files:
      - env.json
  - name: gridstudy-app-configmap
    files:
      - idpSettings.json=gridstudy-app-idpSettings.json
  - name: gridexplore-app-configmap
    files:
      - idpSettings.json=gridexplore-app-idpSettings.json
  - name: griddyna-app-configmap
    files:
      - idpSettings.json=griddyna-app-idpSettings.json
  - name: gridadmin-app-configmap
    files:
      - idpSettings.json=gridadmin-app-idpSettings.json
  - name: apps-metadata-server-configmap
    behavior: merge
    files:
      - openid-configuration
      - keys
  - name: apps-metadata-server-httpdconf-configmap
    behavior: replace
    files:
      - bitnami.conf=gridapps-metadata-httpd.conf
  - name: gateway-configmap
    behavior: merge
    files:
      - allowed-issuers.yml
  - name: common-application-configmap
    behavior: merge
    files:
      - application.yml=common-application.yml
  - name: user-admin-server-configmap-specific
    behavior: merge
    files:
      - application.yml=config/user-admin-server-application.yml
  - name: loadflow-server-itools-configmap
    behavior: merge
    files:
      - config.yml=loadflow-server-config.yml
  - name: security-analysis-server-itools-configmap
    behavior: merge
    files:
      - config.yml=security-analysis-server-config.yml

# Patch ingress host
patches:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: root-ingress
    path: patch_tls_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: root-ingress
    path: patch_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: gridstudy-app-ingress
    path: patch_tls_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: gridstudy-app-ingress
    path: patch_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: apps-metadata-server-ingress
    path: patch_tls_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: apps-metadata-server-ingress
    path: patch_ingress.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: apps-metadata-server
    path: patch_metadata_configmap.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: gridexplore-app-ingress
    path: patch_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: gridexplore-app-ingress
    path: patch_tls_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: griddyna-app-ingress
    path: patch_tls_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: griddyna-app-ingress
    path: patch_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: gridadmin-app-ingress
    path: patch_tls_ingress.yaml
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: gridadmin-app-ingress
    path: patch_ingress.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: case-server
    path: patch_case-server-deployment.yaml
  - patch: |-
     $patch: delete
     apiVersion: v1
     kind: PersistentVolumeClaim
     metadata:
       name: case-server-claim

