apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
 - ../../base

configMapGenerator:
  - name: network-store-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: geo-data-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: study-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: gridstudy-configmap
    files:
      - idpSettings.json
  - name: gateway-configmap
    behavior: merge
    files:
      - allowed-issuers.yml
  - name: case-import-job-configmap
    files:
      - config.yml=case-import-job-config.yml
  - name: merge-orchestrator-server-configmap
    behavior: merge
    files:
      - cassandra.properties

# Patch ingress host
patchesJson6902:
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gridstudy-ingress
  path: patch_tls_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: case-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: cgmes-gl-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: geo-data-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: network-conversion-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: network-map-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: network-store-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: single-line-diagram-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gridstudy-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: study-server-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: odre-server-ingress
  path: patch_ingress.yaml

- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: network-modification-server-ingress
  path: patch_ingress.yaml

- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gateway-ingress
  path: patch_ingress.yaml

- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: loadflow-server-ingress
  path: patch_ingress.yaml

- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: case-validation-server-ingress
  path: patch_ingress.yaml

- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: notification-server-ingress
  path: patch_ingress.yaml

- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: merge-orchestrator-server-ingress
  path: patch_ingress.yaml
