apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../bases/admingridsuite

configMapGenerator:
  - name: gateway-configmap
    files:
      - allowed-issuers.yml
  - name: case-import-job-itools-configmap
    files:
      - config.yml=case-import-job-config.yml
  - name: cgmes-assembling-job-itools-configmap
    files:
      - config.yml=cgmes-assembling-job-config.yml
  - name: cgmes-boundary-import-job-configmap
    files:
      - config.yml=cgmes-boundary-import-job-config.yml

patchesStrategicMerge:
- limit-gridexplore-cases.yaml
- fluentd-containerd.yaml # default fluentd parse is for docker, on azure we use containerd
- |-
  apiVersion: v1
  kind: Deployment
  metadata:
    name: gridadmin-app
  $patch: delete
  # We disable/don't deploy GridAdmin in the Azure/demo environment
