apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
 - ../../base

configMapGenerator:
  - name: network-store-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: geo-data-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: study-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: gridstudy-app-configmap
    files:
      - idpSettings.json=gridstudy-app-idpSettings.json
  - name: gridmerge-app-configmap
    files:
      - idpSettings.json=gridmerge-app-idpSettings.json
  - name: gateway-configmap
    behavior: merge
    files:
      - allowed-issuers.yml
  - name: case-import-job-configmap
    files:
      - config.yml=case-import-job-config.yml
  - name: merge-orchestrator-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: cgmes-boundary-server-configmap
    behavior: merge
    files:
      - cassandra.properties
  - name: cgmes-assembling-job-configmap
    files:
      - config.yml=cgmes-assembling-job-config.yml

# Patch ingress host
patchesJson6902:
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gridstudy-app-ingress
  path: patch_tls_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gridstudy-app-ingress
  path: patch_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gridmerge-app-ingress
  path: patch_tls_ingress.yaml
- target:
    group: networking.k8s.io
    version: v1beta1
    kind: Ingress
    name: gridmerge-app-ingress
  path: patch_ingress.yaml
