apiVersion: apps/v1
kind: Deployment
metadata:
  name: apps-metadata-server
  labels:
    app: gridsuite
    name: apps-metadata-server
spec:
  selector:
    matchLabels:
      name: apps-metadata-server
  template:
    metadata:
      labels:
        app: gridsuite
        name: apps-metadata-server
    spec:
      containers:
        - name: apps-metadata-server
          image: httpd:2.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /usr/local/apache2/htdocs
              name: apps-metadata-server-configmap-volume
          resources:
            requests:
              memory: "128Mi"
            limits:
              memory: "128Mi"
      restartPolicy: Always
      volumes:
        - name: apps-metadata-server-configmap-volume
          configMap:
            name: apps-metadata-server-configmap