apiVersion: apps/v1
kind: Deployment
metadata:
  name: balances-adjustment-server
  labels:
    name: balances-adjustment-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: balances-adjustment-server
  template:
    metadata:
      labels:
        name: balances-adjustment-server
    spec:
      containers:
        - name: balances-adjustment-server
          image: docker.io/gridsuite/balances-adjustment-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /config/common
              name: balances-adjustment-server-configmap-common-volume
            - mountPath: /config/specific
              name: balances-adjustment-server-configmap-specific-volume
            - mountPath: /tmp
              name: tmp-emptydir
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: "384Mi"
            limits:
              memory: "384Mi"
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: balances-adjustment-server-configmap-common-volume
          configMap:
            name: balances-adjustment-server-configmap-common
        - name: balances-adjustment-server-configmap-specific-volume
          configMap:
            name: balances-adjustment-server-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}
