apiVersion: apps/v1
kind: Deployment
metadata:
  name: case-server
  labels:
    name: case-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: case-server
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: case-server
    spec:
      containers:
      - name: case-server
        image: docker.io/powsybl/case-server:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_TOOL_OPTIONS
          value: "-XX:MaxRAMPercentage=75"
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: case-server-configmap-volume
        - mountPath: /cases
          name: case-server-storage
        - mountPath: /tmp
          name: tmp-emptydir
        - mountPath: /?
          name: app-emptydir
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "1Gi"
          limits:
            memory: "1Gi"
      restartPolicy: Always
      volumes:
        - name: case-server-configmap-volume
          configMap:
            name: case-server-configmap
        - name: case-server-storage
          persistentVolumeClaim:
            claimName: case-server-claim
        - name: tmp-emptydir
          emptyDir: {}
        - name: app-emptydir
          emptyDir: {}