apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: case-import-cronjob
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: case-import-job
              resources:
                requests:
                  memory: "512Mi"
                limits:
                  memory: "512Mi"
              image: docker.io/gridsuite/case-import-job:latest
              volumeMounts:
                - name: config-case-import-job-volume
                  mountPath: /home/powsybl/.itools
                - mountPath: /tmp
                  name: tmp-emptydir
              securityContext:
                runAsNonRoot: true
                runAsUser: 1000
                readOnlyRootFilesystem: true
              imagePullPolicy: IfNotPresent
              env:
                - name: ACQUISITION_SERVER__USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: secret-case-sftp-server-credentials
                      key: username
                      optional: true
                - name: ACQUISITION_SERVER__PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: secret-case-sftp-server-credentials
                      key: password
                      optional: true
          volumes:
            - name: config-case-import-job-volume
              configMap:
                name: case-import-job-configmap
            - name: tmp-emptydir
              emptyDir: {}
          restartPolicy: OnFailure

