apiVersion: apps/v1
kind: Deployment
metadata:
  name: cgmes-gl-server
  labels:
    name: cgmes-gl-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: cgmes-gl-server
  template:
    metadata:
      labels:
        name: cgmes-gl-server
    spec:
      containers:
      - name: cgmes-gl
        image: docker.io/powsybl/cgmes-gl-server:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: cgmes-gl-server-configmap-volume
        - mountPath: /tmp
          name: tmp-emptydir
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "384Mi"
          limits:
            memory: "384Mi"
        args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: cgmes-gl-server-configmap-volume
          configMap:
            name: cgmes-gl-server-configmap
        - name: tmp-emptydir
          emptyDir: {}
