apiVersion: v1
kind: Service
metadata:
  labels:
    app: gridsuite
    name: cgmes-boundary-server
  name: cgmes-boundary-server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    name: cgmes-boundary-server
