apiVersion: apps/v1
kind: Deployment
metadata:
  name: cgmes-gl-server
  labels:
    name: cgmes-gl-server
    version: "1"
spec:
  replicas: 2
  selector:
    matchLabels:
      name: cgmes-gl-server
  template:
    metadata:
      labels:
        name: cgmes-gl-server
    spec:
      containers:
      - name: cgmes-gl
        image: docker.io/gridsuite/cgmes-gl-server:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config/common
          name: cgmes-gl-server-configmap-common-volume
        - mountPath: /config/specific
          name: cgmes-gl-server-configmap-specific-volume
        - mountPath: /tmp
          name: tmp-emptydir
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "384Mi"
          limits:
            memory: "384Mi"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          initialDelaySeconds: 120
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: cgmes-gl-server-configmap-common-volume
          configMap:
            name: cgmes-gl-server-configmap-common
        - name: cgmes-gl-server-configmap-specific-volume
          configMap:
            name: cgmes-gl-server-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}
