apiVersion: apps/v1
kind: Deployment
metadata:
  name: cgmes-boundary-server
  labels:
    name: cgmes-boundary-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: cgmes-boundary-server
  template:
    metadata:
      labels:
        name: cgmes-boundary-server
    spec:
      containers:
      - name: cgmes-boundary-server
        image: docker.io/gridsuite/cgmes-boundary-server:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: cgmes-boundary-server-configmap-volume
        - mountPath: /tmp
          name: tmp-emptydir
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "384Mi"
          limits:
            memory: "384Mi"
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: cgmes-boundary-server-configmap-volume
          configMap:
            name: cgmes-boundary-server-configmap
        - name: tmp-emptydir
          emptyDir: {}
