apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  labels:
    name: config-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: config-server
  template:
    metadata:
      labels:
        name: config-server
    spec:
      containers:
        - name: config
          image: docker.io/gridsuite/config-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /config
              name: config-server-configmap-volume
            - mountPath: /tmp
              name: tmp-emptydir
            - mountPath: /?
              name: app-emptydir
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: "384Mi"
            limits:
              memory: "384Mi"
      restartPolicy: Always
      volumes:
        - name: config-server-configmap-volume
          configMap:
            name: config-server-configmap
        - name: tmp-emptydir
          emptyDir: {}
        - name: app-emptydir
          emptyDir: {}