apiVersion: v1
kind: Service
metadata:
  labels:
    name: config-server
  name: config-server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    name: config-server
