apiVersion: apps/v1
kind: Deployment
metadata:
  name: directory-server
  labels:
    name: directory-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: directory-server
  template:
    metadata:
      labels:
        name: directory-server
    spec:
      containers:
      - name: directory-server
        image: docker.io/gridsuite/directory-server:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: RABBITMQ_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secrets
              key: RABBITMQ_USER
              optional: true
        - name: RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secrets
              key: RABBITMQ_PASSWORD
              optional: true
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /config
          name: database-properties-configmap-volume
        - mountPath: /config/common
          name: common-application-configmap-volume
        - mountPath: /config/specific
          name: directory-server-configmap-specific-volume
        - mountPath: /tmp
          name: tmp-emptydir
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "384Mi"
          limits:
            memory: "384Mi"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          initialDelaySeconds: 120
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: database-properties-configmap-volume
          configMap:
            name: database-properties-configmap
        - name: common-application-configmap-volume
          configMap:
            name: common-application-configmap
        - name: directory-server-configmap-specific-volume
          configMap:
            name: directory-server-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}
