apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynamic-simulation-server
  labels:
    name: dynamic-simulation-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: dynamic-simulation-server
  template:
    metadata:
      labels:
        name: dynamic-simulation-server
    spec:
      containers:
        - name: dynamic-simulation
          image: docker.io/gridsuite/dynamic-simulation-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /config
              name: dynamic-simulation-server-configmap-volume
            - mountPath: /dynawo-config
              name: dynawo-config-configmap-volume
            - mountPath: /home/powsybl/.itools
              name: dynawo-itools-configmap-volume
            - mountPath: /tmp
              name: tmp-emptydir
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: "512Mi"
            limits:
              memory: "512Mi"
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 5
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: dynamic-simulation-server-configmap-volume
          configMap:
            name: dynamic-simulation-server-configmap
        - name: dynawo-config-configmap-volume
          configMap:
            name: dynawo-config-configmap
        - name: dynawo-itools-configmap-volume
          configMap:
            name: dynawo-itools-configmap
        - name: tmp-emptydir
          emptyDir: {}
