apiVersion: apps/v1
kind: Deployment
metadata:
  name: explore-server
  labels:
    name: explore-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: explore-server
  template:
    metadata:
      labels:
        name: explore-server
    spec:
      containers:
      - name: explore-server
        image: docker.io/gridsuite/explore-server:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config/common
          name: explore-server-configmap-common-volume
        - mountPath: /config/specific
          name: explore-server-configmap-specific-volume
        - mountPath: /tmp
          name: tmp-emptydir
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: explore-server-configmap-common-volume
          configMap:
            name: explore-server-configmap-common
        - name: explore-server-configmap-specific-volume
          configMap:
            name: explore-server-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}