apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    name: gateway
    version: "1"
spec:
  selector:
    matchLabels:
      name: gateway
  template:
    metadata:
      labels:
        name: gateway
    spec:
      containers:
      - name: gateway
        image: docker.io/gridsuite/gateway:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: gateway-configmap-volume
        resources:
          requests:
            memory: "256Mi"
          limits:
            memory: "256Mi"
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
      restartPolicy: Always
      volumes:
        - name: gateway-configmap-volume
          configMap:
            name: gateway-configmap
