apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    name: gateway
    version: "1"
spec:
  selector:
    matchLabels:
      name: gateway
  template:
    metadata:
      labels:
        name: gateway
    spec:
      containers:
      - name: gateway
        image: docker.io/gridsuite/gateway:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config/common
          name: gateway-configmap-common-volume
        - mountPath: /config/specific
          name: gateway-configmap-specific-volume
        - mountPath: /tmp
          name: tmp-emptydir
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "384Mi"
          limits:
            memory: "384Mi"
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: gateway-configmap-common-volume
          configMap:
            name: gateway-configmap-common
        - name: gateway-configmap-specific-volume
          configMap:
            name: gateway-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}
