apiVersion: apps/v1
kind: Deployment
metadata:
  name: geo-data-server
  labels:
    name: geo-data-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: geo-data-server
  template:
    metadata:
      labels:
        name: geo-data-server
    spec:
      containers:
      - name: geo-data-server
        image: docker.io/gridsuite/geo-data-server:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_TOOL_OPTIONS
          value: "-XX:MaxRAMPercentage=75"
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: geo-data-server-configmap-volume
        resources:
          requests:
            memory: "1Gi"
          limits:
            memory: "1Gi"
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
      restartPolicy: Always
      volumes:
        - name: geo-data-server-configmap-volume
          configMap:
            name: geo-data-server-configmap
