apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
spec:
  template:
    spec:
      containers:
        - name: springboot
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-Xmx1792m"
          resources:
            requests:
              memory: "2Gi"
            limits:
              memory: "2Gi"
