apiVersion: apps/v1
kind: Deployment
metadata:
  name: griddyna-app
  labels:
    name: griddyna-app
    version: "1"
spec:
  replicas: 2
  selector:
    matchLabels:
      name: griddyna-app
  template:
    metadata:
      labels:
        name: griddyna-app
    spec:
      containers:
      - name: griddyna-app
        image: docker.io/gridsuite/griddyna-app:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /opt/bitnami/apache/htdocs/griddyna/idpSettings.json
          subPath: idpSettings.json
          name: griddyna-app-configmap-volume
        - mountPath: /opt/bitnami/apache/htdocs/griddyna/env.json
          subPath: env.json
          name: griddyna-app-env-configmap-volume
        - mountPath: /opt/bitnami/apache/var/run/
          name: run-emptydir
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1001
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "128Mi"
          limits:
            memory: "128Mi"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          initialDelaySeconds: 120
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 1
          successThreshold: 1
      restartPolicy: Always
      volumes:
        - name: griddyna-app-configmap-volume
          configMap:
            name: griddyna-app-configmap
        - name: griddyna-app-env-configmap-volume
          configMap:
            name: griddyna-app-env-configmap
        - name: run-emptydir
          emptyDir: {}
