apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
spec:
  template:
    spec:
      containers:
      - name: springboot
        volumeMounts:
        - mountPath: /config
          name: database-properties-configmap-volume
      volumes:
        - name: database-properties-configmap-volume
          configMap:
            name: database-properties-configmap
