apiVersion: apps/v1
kind: Deployment
metadata:
  name: merge-orchestrator-server
  labels:
    name: merge-orchestrator-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: merge-orchestrator-server
  template:
    metadata:
      labels:
        name: merge-orchestrator-server
    spec:
      containers:
      - name: merge-orchestrator-server
        image: docker.io/gridsuite/merge-orchestrator-server:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_TOOL_OPTIONS
          value: "-XX:MaxRAMPercentage=75"
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: merge-orchestrator-server-configmap-volume
        - mountPath: /tmp
          name: tmp-emptydir
        - mountPath: /?
          name: app-emptydir
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            memory: "1Gi"
          limits:
            memory: "1Gi"
      restartPolicy: Always
      volumes:
        - name: merge-orchestrator-server-configmap-volume
          configMap:
            name: merge-orchestrator-server-configmap
        - name: tmp-emptydir
          emptyDir: {}
        - name: app-emptydir
          emptyDir: {}