apiVersion: v1
kind: Service
metadata:
  labels:
    name: network-modification-server
  name: network-modification-server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 8080
  selector:
    name: network-modification-server
