apiVersion: apps/v1
kind: Deployment
metadata:
  name: network-conversion-server
  labels:
    app: gridsuite
    name: network-conversion-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: network-conversion-server
  template:
    metadata:
      labels:
        app: gridsuite
        name: network-conversion-server
    spec:
      containers:
      - name: network-conversion
        image: docker.io/powsybl/network-conversion-server:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_TOOL_OPTIONS
          value: "-XX:MaxRAMPercentage=75"
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /config
          name: network-conversion-server-configmap-volume
        resources:
          requests:
            memory: "1Gi"
          limits:
            memory: "1Gi"
      restartPolicy: Always
      volumes:
        - name: network-conversion-server-configmap-volume
          configMap:
            name: network-conversion-server-configmap
