apiVersion: apps/v1
kind: Deployment
metadata:
  name: report-server
  labels:
    name: report-server
    version: "1"
spec:
  replicas: 2
  selector:
    matchLabels:
      name: report-server
  template:
    metadata:
      labels:
        name: report-server
    spec:
      containers:
        - name: report-server
          image: docker.io/gridsuite/report-server:latest
          imagePullPolicy: IfNotPresent
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-XX:MaxRAMPercentage=75"
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /config
              name: report-server-configmap-volume
            - mountPath: /config/common
              name: report-server-configmap-common-volume
            - mountPath: /config/specific
              name: report-server-configmap-specific-volume
            - mountPath: /tmp
              name: tmp-emptydir
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "1Gi"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: report-server-configmap-volume
          configMap:
            name: report-server-configmap
        - name: report-server-configmap-common-volume
          configMap:
            name: report-server-configmap-common
        - name: report-server-configmap-specific-volume
          configMap:
            name: report-server-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}
