apiVersion: apps/v1
kind: Deployment
metadata:
  name: study-server
  labels:
    name: study-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: study-server
  template:
    metadata:
      labels:
        name: study-server
    spec:
      containers:
        - name: study
          image: docker.io/gridsuite/study-server:latest
          imagePullPolicy: IfNotPresent
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-XX:MaxRAMPercentage=75"
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /config
              name: study-server-configmap-volume
            - mountPath: /tmp
              name: tmp-emptydir
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "1Gi"
      restartPolicy: Always
      volumes:
        - name: study-server-configmap-volume
          configMap:
            name: study-server-configmap
        - name: tmp-emptydir
          emptyDir: {}
