apiVersion: apps/v1
kind: Deployment
metadata:
  name: study-server
  labels:
    name: study-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: study-server
  template:
    metadata:
      labels:
        name: study-server
    spec:
      containers:
        - name: study
          image: docker.io/gridsuite/study-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /config
              name: study-server-configmap-volume
          resources:
            requests:
              memory: "384Mi"
              cpu: "50m"
            limits:
              memory: "384Mi"
              cpu: "100m"
      restartPolicy: Always
      volumes:
        - name: study-server-configmap-volume
          configMap:
            name: study-server-configmap
