apiVersion: apps/v1
kind: Deployment
metadata:
  name: study-server
  labels:
    name: study-server
    version: "1"
spec:
  selector:
    matchLabels:
      name: study-server
  template:
    metadata:
      labels:
        name: study-server
    spec:
      containers:
        - name: study
          image: docker.io/gridsuite/study-server:latest
          imagePullPolicy: IfNotPresent
          env:
          - name: JAVA_TOOL_OPTIONS
            value: "-XX:MaxRAMPercentage=75"
          - name: ELASTICSEARCH_USER
            value: elastic
          - name: ELASTICSEARCH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: elasticsearch
                key: ELASTIC_PASSWORD
                optional: true
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /config
              name: database-properties-configmap-volume
            - mountPath: /config/common
              name: common-application-configmap-volume
            - mountPath: /config/specific
              name: study-server-configmap-specific-volume
            - mountPath: /tmp
              name: tmp-emptydir
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "1Gi"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          args: ["--spring.config.additional-location=/config/"]
      restartPolicy: Always
      volumes:
        - name: database-properties-configmap-volume
          configMap:
            name: database-properties-configmap
        - name: common-application-configmap-volume
          configMap:
            name: common-application-configmap
        - name: study-server-configmap-specific-volume
          configMap:
            name: study-server-configmap-specific
        - name: tmp-emptydir
          emptyDir: {}
