global:
  scrape_interval: 2s
  evaluation_interval: 2s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['127.0.0.1:9090']
  - job_name: 'apps'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['172.17.0.1:5008', '172.17.0.1:5023', '172.17.0.1:5009', '172.17.0.1:5030', '172.17.0.1:5031', '172.17.0.1:5032', '172.17.0.1:5038', '172.17.0.1:5003']
  - job_name: 'rabbitmq'
    metrics_path: '/metrics/detailed'
    params:
      family:
        - "queue_coarse_metrics"
    static_configs:
      - targets: ['rabbitmq:15692']
