apiVersion: apps/v1
kind: Deployment
metadata:
  name: single-line-diagram-server
  labels:
    name: single-line-diagram-server
    version: "1"
    app.kubernetes.io/component: gridsuite-springboot
    gridsuite.org/springboot-with-database: "true"
  annotations:
    gridsuite.org/cpu: cpu-m
    gridsuite.org/memory: memory-xl
spec:
  selector:
    matchLabels:
      name: single-line-diagram-server
  template:
    metadata:
      labels:
        name: single-line-diagram-server
    spec:
      containers:
      - name: main
        image: docker.io/powsybl/single-line-diagram-server:latest
        volumeMounts:
        - mountPath: /config/specific
          name: single-line-diagram-server-configmap-specific-volume
      volumes:
        - name: single-line-diagram-server-configmap-specific-volume
          configMap:
            name: single-line-diagram-server-configmap-specific
