name: release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*.*.*' # Push events to matching v*.*.*, i.e. v0.0.1, v2.1.3
jobs:
  build:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v1

      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'

      - name: Install python dependencies
        run: python -m pip install --upgrade pip pyyaml requests

      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Create key
        run: 'echo "$BASTION_KEY" > key; chmod 600 key'
        env:
          BASTION_KEY: ${{secrets.BASTION_KEY_PROD_CLUSTER}}

      - name: Deploy to Azure
        run: kubectl kustomize k8s/overlays/azure-integ | ssh -o "StrictHostKeyChecking no" -i key ${{ secrets.BASTION_LOGIN_PROD_CLUSTER }}@${{ secrets.BASTION_HOST_PROD_CLUSTER }} kubectl apply -f -

      - name: Delete key
        run: rm key
