apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
# tag xxs servers to restore later
- target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/memory=memory-xxs
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: not-important
      annotations:
        gridsuite.org/smallnetwork-tmptag: xxs

# set all springboot to xs
- target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: not-important
      annotations:
        gridsuite.org/memory: memory-xs

# reset xxs to their original size
- target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot
    annotationSelector: gridsuite.org/smallnetwork-tmptag=xxs
  patch: |-
    - op: remove
      path: /metadata/annotations/gridsuite.org~1smallnetwork-tmptag
    - op: replace
      path: /metadata/annotations/gridsuite.org~1memory
      value: memory-xxs

# remove cpu requests/limits annotations (except security-analysis-server which has hardcoded resources)
- target:
    kind: Deployment
    labelSelector: app.kubernetes.io/component=gridsuite-springboot,name!=security-analysis-server,name!=gateway
  patch: |-
    - op: remove
      path: /metadata/annotations/gridsuite.org~1cpu

# remove hardcoded cpu and memory requests/limits for security-analysis-server
- target:
    kind: Deployment
    labelSelector: name=security-analysis-server
  patch: |-
    - op: remove
      path: /spec/template/spec/containers/0/resources

# remove hardcoded cpu requests/limits for gateway
- target:
    kind: Deployment
    labelSelector: name=gateway-server
  patch: |-
    - op: remove
      path: /spec/template/spec/containers/0/resources
